@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/keyframes' as *;

.navbar {
  .nav-link {
    font-size: 0.9rem;
    color: white;
    &:hover {
      color: $green;
    }
    @include mQ(991px) {
      color: $gray-clr;
      width: 50%;
      margin: 0.5rem auto;
      text-align: center;
    }
  }

  .nav-link.active {
    color: white;
    background-color: $green;
    padding: 0.5rem 1.5rem;
    text-align: center;
    border-radius: 50rem;
    animation: fadeIn 1s;
  }

  .collapse {
    justify-content: flex-end;
    .navbar-nav {
      width: 85%;
      justify-content: space-between;
      @include mQ(991px) {
        margin: 0 auto;
      }
    }
    @include mQ(991px) {
      padding: 1rem;
      background-color: white;
    }
  }

  .navbar-toggler {
    border: 1px solid $green;
    border-radius: 0;
    box-shadow: none;
    .navbar-toggler-icon {
      background-image: url(../imgs/menu-icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 1.2em;
      height: 1.2em;
    }
  }

  @include mQ(991px) {
    .navbar-brand {
      width: 0%;
    }
  }
}

.navbar.fixed-top {
  height: 60px;
  padding-top: 0;
  position: fixed;
  top: -60px;
  transform: translateY(60px);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
  transition: transform 0.5s;
  .nav-link {
    color: $gray-clr;
    &:hover {
      color: $green-dark;
    }
  }
  .nav-link.active {
    color: white;
  }
}
