$green: #61d2b4;
$green-dark: #33b391;
$dark-clr: #333;
$white-clr: #f8f9fa;
$gray-clr: #999;
$gray-lt-clr: #ddd;
$gray-card-clr: #f1f1f1;
$fb-clr: #4867aa;
$tw-clr: #1da1f2;
$gg-clr: #dd4d42;
$yt-clr: #df2926;
$li-clr: #007bb6;
$ig-clr: #bc2a8d;
